@font-face {
  font-family: 'FZLTTH';
  src: url('../font/fzltthjw_cut-webfont.eot');
  src: url('../font/fzltthjw_cut-webfont.eot?#iefix') format('embedded-opentype'), url('../font/fzltthjw_cut-webfont.woff2') format('woff2'), url('../font/fzltthjw_cut-webfont.woff') format('woff'), url('../font/fzltthjw_cut-webfont.ttf') format('truetype'), url('../font/fzltthjw_cut-webfont.svg#fzlantingheis-h-gbregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FZLTXH';
  src: url('../font/fzltxhk_cut-webfont.eot');
  src: url('../font/fzltxhk_cut-webfont.eot?#iefix') format('embedded-opentype'), url('../font/fzltxhk_cut-webfont.woff2') format('woff2'), url('../font/fzltxhk_cut-webfont.woff') format('woff'), url('../font/fzltxhk_cut-webfont.ttf') format('truetype'), url('../font/fzltxhk_cut-webfont.svg#fzlantinghei-el-gbkregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FZLTZH';
  src: url('../font/fzltzhk_cut-webfont.eot');
  src: url('../font/fzltzhk_cut-webfont.eot?#iefix') format('embedded-opentype'), url('../font/fzltzhk_cut-webfont.woff2') format('woff2'), url('../font/fzltzhk_cut-webfont.woff') format('woff'), url('../font/fzltzhk_cut-webfont.ttf') format('truetype'), url('../font/fzltzhk_cut-webfont.svg#fzlantinghei-db-gbkregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, SimSun, "宋体", "Microsoft YaHei", "微软雅黑", sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  overflow-x: hidden;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
nav {
  z-index: 100;
}
nav.navbar {
  border-bottom: 1px solid #9a8461;
}
nav.navbar.navbar-fixed-bottom {
  position: fixed;
  bottom: 45px;
  width: 100%;
}
nav.navbar .container {
  height: 38px;
}
nav.navbar .scroll-nav {
  position: relative;
  bottom: -1px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  transition: height 1s;
  cursor: pointer;
  font-size: 12px;
}
nav.navbar .scroll-nav .left-border {
  position: absolute;
  height: 50%;
  width: 2px;
  background-color: #fff;
  left: 0px;
  bottom: -10px;
}
nav.navbar .scroll-nav .right-border {
  position: absolute;
  height: 50%;
  width: 2px;
  background-color: #9a8461;
  right: 0px;
  bottom: -10px;
}
nav.navbar .scroll-nav ul {
  left: 0;
  bottom: 0;
  position: absolute;
  height: 3px;
  transition: width 1s,height 0.8s;
  overflow: hidden;
}
nav.navbar .scroll-nav ul li {
  position: absolute;
  top: 0px;
  line-height: 38px;
  height: 100%;
  text-align: center;
}
nav.navbar .scroll-nav ul li .sub-nav {
  width: 100%;
  height: 100%;
}
nav.navbar .scroll-nav ul.bg {
  background-color: #9a8461;
  color: #fff;
  width: 100%;
}
nav.navbar .scroll-nav ul.bg li {
  border-right: 1px dashed #000;
}
nav.navbar .scroll-nav ul.bg .sub-nav li {
  border-right: 0px dashed #fff;
}
nav.navbar .scroll-nav ul.fg {
  background-color: #fff;
  color: #333;
  overflow: hidden;
}
nav.navbar .scroll-nav ul.fg li {
  border-right: 1px dashed #000;
}
nav.navbar .scroll-nav ul.fg .sub-nav li {
  border-right: 0px dashed #fff;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 53px;
  background: #1e1e1e;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlMWUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzFlMWUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzFkMWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzFjMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #1e1e1e 0%, #1e1e1e 83%, #1d1d1d 83%, #1c1c1c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e1e1e), color-stop(83%, #1e1e1e), color-stop(83%, #1d1d1d), color-stop(100%, #1c1c1c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e1e1e 0%, #1e1e1e 83%, #1d1d1d 83%, #1c1c1c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e1e1e 0%, #1e1e1e 83%, #1d1d1d 83%, #1c1c1c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e1e1e 0%, #1e1e1e 83%, #1d1d1d 83%, #1c1c1c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1e1e1e 0%, #1e1e1e 83%, #1d1d1d 83%, #1c1c1c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e1e1e', endColorstr='#1c1c1c', GradientType=0);
  /* IE6-8 */
}
footer:hover .scroll-nav ul {
  height: 100%;
}
footer:hover .scroll-nav ul.bg li {
  transition: all 1.5s 0.5s;
  border-right: 1px dashed #fff;
}
footer:hover .scroll-nav ul.fg li {
  transition: all 1.5s 0.5s;
  border-right: 1px dashed #9a8461;
}
footer .footer-bar {
  position: relative;
}
footer .footer-bar .menu {
  overflow: hidden;
  position: relative;
  width: 32px;
  height: 32px;
  left: 10%;
  margin-left: -16px;
  transition: width 0.5s;
}
footer .footer-bar .menu .menu-circle {
  border: 1px solid #9a8461;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
footer .footer-bar .menu .menu-circle .menu-line {
  position: absolute;
  width: 14px;
  background-color: #fff;
  height: 2px;
  left: 50%;
  margin-left: -7px;
}
footer .footer-bar .menu .menu-circle .menu-line.menu-line-1 {
  top: 8px;
}
footer .footer-bar .menu .menu-circle .menu-line.menu-line-2 {
  top: 14px;
}
footer .footer-bar .menu .menu-circle .menu-line.menu-line-3 {
  top: 20px;
}
footer .footer-bar .menu .menu-text {
  position: absolute;
  color: #fff;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  vertical-align: middle;
  left: 40px;
}
footer .footer-bar .menu:hover {
  width: 120px;
}
footer .footer-bar .container {
  margin-top: 15px;
}
footer .footer-bar .container .col-l {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
}
footer .footer-bar .container .col-r {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  text-align: right;
}
footer .footer-bar .container .col-r .col-r-wrap {
  padding-right: 10px;
}
footer .footer-bar .container .col-r img {
  vertical-align: middle;
}
footer .footer-bar .container .col-r a {
  display: inline-block;
}
footer .footer-bar .container .col-r .lang {
  display: inline-block;
  font-weight: normal;
  color: #fff;
  font-size: 12px;
  border: 1px dashed #fff;
  line-height: 28px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  text-align: center;
  opacity: 0.6;
  vertical-align: middle;
}
footer .footer-bar .container .col-r .lang:hover {
  opacity: 1;
}
footer .footer-bar .container .col-r .icon {
  display: inline-block;
  width: 20px;
  height: 30px;
  opacity: 0.6;
  vertical-align: middle;
}
footer .footer-bar .container .col-r .icon:hover {
  opacity: 1;
}
footer .footer-bar .container .col-r .icon.icon-fb {
  background: url(../images/fb.png) no-repeat center center;
}
footer .footer-bar .container .col-r .icon.icon-wx {
  background: url(../images/weixin.png) no-repeat center center;
}
footer .footer-bar .container .col-r .split {
  display: inline-block;
  border-left: 1px dashed #333;
  vertical-align: middle;
  height: 25px;
  width: 1px;
  margin: 0 3px 0 4px;
}
section#about-us .container,
section#touchic-1 .container,
section#projects .container,
section#join-us .container {
  width: 1000px;
  padding: 0 200px;
}
section#about-us .container,
section#projects .container,
section#touchic-1 .container,
section#team-1 .container,
section#team-2 .container,
section#team-3 .container,
section#team-4 .container,
section#join-us .container {
  padding-bottom: 120px;
  padding-top: 130px;
  position: relative;
}
section#about-us h1.content-fix-top,
section#projects h1.content-fix-top,
section#touchic-1 h1.content-fix-top,
section#team-1 h1.content-fix-top,
section#team-2 h1.content-fix-top,
section#team-3 h1.content-fix-top,
section#team-4 h1.content-fix-top,
section#join-us h1.content-fix-top {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fff;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 60px;
  margin-top: 0px;
}
section#about-us h4.content-fix,
section#projects h4.content-fix,
section#touchic-1 h4.content-fix,
section#team-1 h4.content-fix,
section#team-2 h4.content-fix,
section#team-3 h4.content-fix,
section#team-4 h4.content-fix,
section#join-us h4.content-fix {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 50px;
  left: 0px;
  background-color: #fff;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 50px;
}
section.team .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
section.team .container .col-avator {
  position: relative;
  float: left;
  width: 41.66666667%;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 80px;
}
section.team .container .col-avator img {
  border: 1px solid #ddd;
  width: 300px;
}
section.team .container .col-description {
  position: relative;
  float: left;
  width: 41.66666667%;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 100px;
  text-align: justify;
}
section.team .container .col-description h1 {
  text-align: left;
}
section.team .container .col-description h4 {
  text-align: left;
}
section.content {
  background: #fff;
  display: none;
  padding-bottom: 53px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
}
section.content .container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  box-sizing: border-box;
  color: #605f5f;
  text-align: center;
  overflow: hidden;
}
section.content .container:before,
section.content .container:after {
  content: " ";
  display: table;
}
section.content .container:after {
  clear: both;
}
section.content .container h3 {
  font-size: 15px;
}
section.content .container p,
section.content .container div {
  font-size: 15px;
}
section.content .container p.v-middle span,
section.content .container div.v-middle span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
}
section.content .container p.v-middle span strong,
section.content .container div.v-middle span strong {
  font-size: 15px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}
section.content .container p.v-middle:after,
section.content .container div.v-middle:after {
  content: " ";
  width: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
section.content .container h1 {
  font-size: 30px;
  font-weight: bold;
  color: #a0a0a0;
  text-align: center;
}
section.content .container h1.content-fix-top {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fff;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 60px;
  margin-top: 0px;
}
section.content .container h1 strong {
  display: inline-block;
  border-bottom: 3px solid #a0a0a0;
  padding: 16px 40px;
}
section.content .container h4 {
  font-size: 12px;
  text-align: center;
  bottom: 40px;
}
section.content .container h4.content-fix {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 50px;
  left: 0px;
  background-color: #fff;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 50px;
}
section.content .container h4 strong {
  display: inline-block;
  border-top: 3px solid #a0a0a0;
  padding: 12px 40px;
}
section.content.about-us .container,
section.content.projects .container {
  padding-bottom: 120px;
  padding-top: 130px;
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
}
section.touchic {
  padding-top: 100px;
}
section#home {
  height: 100%;
}
section#home article {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
section#home article:before,
section#home article:after {
  content: " ";
  display: table;
}
section#home article:after {
  clear: both;
}
section#home article .icon {
  text-align: center;
  margin: 120px 0 60px;
  position: relative;
}
section#home article .img {
  position: absolute;
  width: 100%;
  height: 100%;
}
section#home article .img.img-1 {
  background: url(../images/home_01.jpg) no-repeat center center;
  background-size: cover;
}
section#home article h1 {
  color: #e4e4da;
  font-family: "FZLTTH";
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 40px;
  text-align: center;
}
section#home article h1 .txt {
  display: inline-block;
}
section#home article .text {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  font-family: "FZLTZH";
  font-size: 12px;
}
section#home article .text h4 {
  text-align: center;
  maring: 0;
  height: 1px;
}
section#home article .text h4 strong {
  border-top: 3px solid #e4e4da;
  width: 100px;
  display: inline-block;
}
section#home article .text p {
  text-align: center;
  color: #e4e4da;
  position: relative;
  font-size: 10px;
  line-height: 1.5em;
  display: inline-block;
}
section#home article .text p strong {
  font-family: "FZLTTH";
  color: #e4e4da;
  font-size: 40px;
  margin: 0 5px;
  font-weight: normal;
  position: absolute;
}
section#home article .text p strong.left {
  left: -50px;
  top: 10px;
}
section#home article .text p strong.right {
  right: 20px;
  top: 75px;
}
section#home article .text p span {
  color: #fff;
}
section#welcome {
  overflow: hidden;
  height: 100%;
  position: relative;
}
section#welcome article {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
section#welcome article:before,
section#welcome article:after {
  content: " ";
  display: table;
}
section#welcome article:after {
  clear: both;
}
section#welcome article .img {
  position: absolute;
  width: 100%;
  height: 100%;
}
section#welcome article .img.img-1 {
  background: url(../images/welcome_01.jpg) no-repeat center center;
  background-size: cover;
}
section#welcome article .img.img-2 {
  background: url(../images/welcome_02.jpg) no-repeat center center;
  background-size: cover;
}
section#welcome article .img.img-3 {
  background: url(../images/welcome_03.jpg) no-repeat center center;
  background-size: cover;
}
section#welcome article .img.img-4 {
  background: url(../images/welcome_04.jpg) no-repeat center center;
  background-size: cover;
}
section#welcome article .img.img-5 {
  background: url(../images/welcome_05.jpg) no-repeat center center;
  background-size: cover;
}
section#welcome article .text h1,
section#welcome article .text p,
section#welcome article .text .line {
  position: relative;
}
section#welcome article .text h1 {
  font-family: 'FZLTZH';
  color: #3a3a3a;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 5px;
}
section#welcome article .text p {
  font-family: 'FZLTXH';
  color: #5d5d5d;
  font-size: 24px;
  position: relative;
  margin-top: 5px;
  float: left;
}
section#welcome article .text p strong {
  font-family: 'FZLTTH';
  color: #3a3a3a;
  margin: 0 5px;
  font-size: 50px;
  font-weight: normal;
  position: absolute;
}
section#welcome article .text p strong.left {
  left: -60px;
}
section#welcome article .text p strong.right {
  right: -50px;
}
section#welcome article .text .line {
  height: 1px;
  background-color: #9d8764;
}
section#welcome article .text.text-1 h1 {
  left: 10%;
  margin-top: 10%;
}
section#welcome article .text.text-1 p {
  left: 10%;
}
section#welcome article .text.text-1 p strong.right {
  right: 0px;
}
section#welcome article .text.text-2 h1 {
  left: 10%;
  margin-top: 30%;
}
section#welcome article .text.text-2 p {
  left: 10%;
  text-align: left;
}
section#welcome article .text.text-2 p strong.right {
  right: 0px;
  bottom: -5px;
}
section#welcome article .text.text-3 h1 {
  left: 70%;
  margin-top: 10%;
}
section#welcome article .text.text-3 p {
  left: 70%;
}
section#welcome article .text.text-3 p strong.right {
  right: -30px;
  bottom: -60px;
}
section#welcome article .text.text-4 h1 {
  left: 10%;
  margin-top: 25%;
}
section#welcome article .text.text-4 p {
  left: 10%;
}
section#welcome article .text.text-4 p strong.right {
  right: 10px;
}
section#welcome article .text.text-5 h1 {
  right: 5%;
  margin-top: 10%;
  text-align: right;
}
section#welcome article .text.text-5 p {
  text-align: right;
  float: right;
  right: 5%;
}
section#welcome article .text.text-5 p strong.right {
  right: 120px;
  bottom: -35px;
}
.controls {
  position: fixed;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
  opacity: 0.5;
  display: none;
}
.controls:hover {
  opacity: 0.8;
}
.controls.control-left {
  left: 0;
}
.controls.control-right {
  right: 0;
}
#jp_container_1 {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #9a8461;
}
#jp_container_2 {
  margin: 0 auto;
  margin-top: 160px;
  position: relative;
  border-width: 0px;
}
#jp_container_2 .jp-interface {
  position: absolute;
  bottom: -100px;
  left: 0px;
  background-color: #1e1e1e;
  transition: all 0.5s;
}
#jp_container_2 .jp-interface .jp-duration,
#jp_container_2 .jp-interface .jp-current-time {
  color: #DDDDDD;
}
#jp_container_2:hover .jp-interface {
  bottom: 0px;
}
.visible-pc,
.visible-sp {
  display: none;
}
@media (max-width: 590px) {
  .visible-sp {
    display: block;
  }
}
@media (min-width: 591px) {
  .visible-pc {
    display: block;
  }
}
@media (max-width: 590px) {
  .hidden-sp {
    display: none;
  }
}
@media (min-width: 591px) {
  .hidden-pc {
    display: none;
  }
}
.sp {
  padding-top: 60px;
}
.sp .btn-a.btn-menu {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 10px;
  top: 15px;
  line-height: 24px;
  text-align: center;
}
.sp .btn-a.btn-menu .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.sp .btn-a.btn-menu .icon.icon-menu {
  background: url(../images/mob_menu_ico_nero.png) center center no-repeat;
  background-size: contain;
}
.sp .btn-a.btn-menu .icon.icon-close {
  background: url(../images/menu_chiudi_black.png) center center no-repeat;
  background-size: contain;
}
.sp .header {
  position: fixed;
  padding: 10px 0px 8px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
}
.sp .header h1 {
  color: #363636;
  font-family: "FZLTZH";
  font-size: 28px;
  text-align: center;
  font-weight: normal;
  margin: 0;
}
.sp .header h1 a {
  color: #363636;
  text-decoration: none;
}
.sp .menu-content {
  position: fixed;
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 50px;
  left: 0;
  color: #7f7f7f;
  background-color: #ffffff;
  overflow-y: auto;
}
.sp .menu-content h3 {
  padding: 0 10px;
  font-weight: normal;
  margin-bottom: 50px;
}
.sp .menu-content .nav {
  border-top: 1px solid #eeeeee;
}
.sp .menu-content .nav.switch-language {
  margin-top: 60px;
  font-size: 14px;
}
.sp .menu-content .nav.switch-language .sub-nav {
  font-size: 12px;
}
.sp .menu-content .nav li {
  padding: 0 10px;
  line-height: 60px;
  border-bottom: 1px solid #eeeeee;
}
.sp .menu-content .nav li a {
  color: #7f7f7f;
  text-decoration: none;
}
.sp .menu-content .nav li .sub-nav {
  display: none;
  font-size: 14px;
}
.sp .menu-content .nav li .sub-nav li {
  line-height: 50px;
  text-align: center;
}
.sp .menu-content .nav li .sub-nav li:last-child {
  border-bottom: none;
}
.sp .menu-content .nav li .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
.sp .menu-content .nav li .icon.icon-arraw-down {
  background: url(../images/arraw_down.png) center center no-repeat;
  background-size: contain;
}
.sp .menu-content .nav li .icon.icon-arraw-up {
  background: url(../images/arraw_up.png) center center no-repeat;
  background-size: contain;
}
.sp .mb-50 {
  margin-bottom: 50px;
}
.sp .mt-100 {
  margin-top: 100px;
}
.sp .sp-content h1 {
  font-size: 16px;
  text-align: center;
  background-color: #f4f4f4;
  color: #474747;
  line-height: 40px;
  margin: 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
}
.sp .sp-content h2 {
  padding: 0 15px;
  font-size: 20px;
  margin-bottom: 0px;
}
.sp .sp-content h3 {
  color: #7f7f7f;
  font-size: 16px;
  font-weight: normal;
  padding: 0 15px;
  margin-top: 0px;
}
.sp .sp-content .img-wrap {
  width: 100%;
}
.sp .sp-content .img-wrap img {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
.sp .sp-content .img-wrap .jp-video {
  background-color: #000;
  width: 100% !important;
  height: auto !important;
  border: none;
}
.sp .sp-content .img-wrap .jp-video .jp-jplayer {
  width: 100% !important;
  margin: 0 auto;
}
.sp .sp-content .img-wrap #jp_container_3 .jp-jplayer {
  max-width: 100% !important;
}
.sp .sp-content .img-wrap #jp_container_3 .jp-jplayer video {
  max-width: 100% !important;
}
.sp .sp-content .img-wrap.img-wrap-qr img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.sp .sp-content .img-wrap.img-wrap-qr p {
  text-align: center;
}
.sp .sp-content .more-wrap {
  text-align: center;
}
.sp .sp-content .more {
  position: relative;
  background-color: #f1f1f1;
  text-align: center;
  padding: 8px 40px;
  border: none;
  font-size: 12px;
}
.sp .sp-content .more .caret {
  position: absolute;
  left: 10px;
  top: 13px;
  margin-right: 1em;
}
.sp .sp-content .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.sp .sp-content .content-wrap {
  padding: 0 10px;
}
.sp .sp-content .content-wrap.full-screen {
  padding: 0;
}
.sp .sp-content .content-wrap.full-screen .split,
.sp .sp-content .content-wrap.full-screen p {
  margin-left: 10px;
  margin-right: 10px;
}
.sp .sp-content .content-wrap.hidden {
  display: none;
}
.sp .sp-content .content-wrap h2 {
  text-align: center;
  color: #0e0e0e;
}
.sp .sp-content .content-wrap .office {
  text-align: center;
  font-size: 18px;
  color: #7f7f7f;
  margin-top: 30px;
}
.sp .sp-content .content-wrap .split {
  text-align: center;
  background: url(../images/bg01.png) no-repeat center center;
  background-size: contain;
  height: 14px;
  color: #7f7f7f;
  margin: 10px 0;
  padding-bottom: 10px;
  vercail-align: middle;
}
.sp .sp-content .content-wrap p {
  color: #7f7f7f;
}
.sp .sp-footer {
  padding-bottom: 20px;
}
.sp .sp-footer .copyright {
  font-size: 18px;
  color: #474747;
  padding: 0 15px;
  margin-top: 20px;
}
.sp .sp-footer .copyright p {
  margin: 0px;
}
.sp .sp-footer .share-us {
  padding: 0 15px;
}
.sp .share-us {
  margin-top: 40px;
  padding: 0 10px;
}
.sp .share-us h5 {
  font-size: 14px;
  color: #7f7f7f;
  text-align: center;
  font-weight: normal;
}
.sp .share-us .shejiao {
  height: 20px;
  text-align: center;
  background: url(../images/bg01.png) no-repeat center center;
  background-size: contain;
}
.sp .share-us .shejiao img {
  height: 100%;
  margin: 0 3.6%;
}
body.lock-position {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}
